
.title,.description{
  text-align: center;
}
.title{
  font-size: 4rem;
}
.nextjslink{
  color: blue; 
}
.nextjslink:hover,
.nextjslink:focus,
.nextjslink:active{
 text-decoration: underline;
 color: darkmagenta;
}
.description{
  font-size: 1.5rem;
  font-weight: 500;
}
.Card_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.card{
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.card:hover,
.card:focus,
.card:active {
  color: crimson;
  background-color: lightblue;
  border-color: #0070f3;
}
.footer {
  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.footer:hover{
  color: blue;
}


